@font-face{
    font-family: gilroy-bold;
    src: url(Gilroy-ExtraBold.ttf);
}


.row{
    margin: 0px;
}

#tulisantotal{
    font-display: gilroy-bold;
    font-size: 5vh;
    font-weight: 700;
    text-align: center;
}
#buttonbawah{
    font-display: gilroy-bold;
}

.kotakkuning{
    background-color: #F0BE60;
    border-radius: 25px;
    margin-bottom: 40px;
    font-weight: 700;
    font-display: gilroy-bold;
    font-size: 5vh;
    text-align: center;
    color: white;
}


@media screen and (min-width: 601px) {
    .foto_tax{
        /* padding-left : 20%; */
        padding-top : 15%;
        padding-bottom: 10%;
        max-height : 75%;
        max-width : 75%;
        /* height : 75%;
        width : 75%; */
    }
  }
  
  /* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
  @media screen and (max-width: 600px) {
    .foto_tax{
        /* padding-left : 20%; */
        padding-top : 15%;
        padding-bottom: 10%;
        max-height : 100%;
        max-width : 100%;
        /* height : 75%;
        width : 75%; */
    }
  }

.nav-item{
    padding-top: 5px;
    padding-left:20px;
    font-family: montserrat;
}

.masukan{
    padding-top : 3%;
    padding-bottom: 3%;
}

.submission {
    padding-top : 20px;
    padding-bottom : 20px;
    border: solid 2px black;
    border-radius: 25px;
}

.judul-tax{
    padding-bottom: 10%;
}

.judul-tax h1{
    padding-top : 15%;
    color: white;
    font-size: 70px;
    font-family: gilroy-bold;
    font-weight: lighter;
}
.kuning{
    color: #F0BE60;
    font-family: gilroy-bold;
    font-weight: lighter;
}

.putih{
    color: white;
    font-family: gilroy-bold;
}

.judul-tax p{
    display: inline;
    font-size: 24px;
}

.navbar-brand{
    font-family: montserrat;
    font-weight: 800;
}

label{
    font-family: montserrat-bold;
}

.submission td{
    padding-top : 20px;
    padding-right: 150px;
    font-family: gilroy;
    font-size: 2vh;
}
.submission th{
    font-size: 3vh;
}


