@font-face{
    font-family: gilroy-bold;
    src: url(Gilroy-ExtraBold.ttf);
}

body{
    background-color: black;
}


#bg{
    background-color: black;
}

.pajak-bayar{
    border-radius: 25px;
    background-color: black;
    border: solid 2px black;
}

#layout{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width: 601px) {
    .foto_tax{
        /* padding-left : 20%; */
        padding-top : 15%;
        padding-bottom: 10%;
        max-height : 75%;
        max-width : 75%;
        /* height : 75%;
        width : 75%; */
    }
  }
  
  /* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
  @media screen and (max-width: 600px) {
    .foto_tax{
        /* padding-left : 20%; */
        padding-top : 15%;
        padding-bottom: 10%;
        max-height : 100%;
        max-width : 100%;
        /* height : 75%;
        width : 75%; */
    }
  }

.nav-item{
    padding-top: 5px;
    padding-left:20px;
    font-family: gilroy-bold;
}

.masukan{
    padding-top : 5%;
    padding-bottom: 5%;
}

.submission {
    padding-top : 20px;
    padding-bottom : 20px;
    border: solid 2px white;
    border-radius: 25px;
}

.btn-warning{
    width : 100%;
}

.judul-tax{
    padding-bottom: 10%;
}

.judul-tax h1{
    padding-top : 15%;
    color: white;
    font-size: 70px;
    font-family: gilroy-bold;
    font-weight: lighter;
}
.kuning{
    color: #F0BE60;
    font-family: gilroy-bold;
    font-weight: lighter;
}

.putih{
    color: white;
    font-family: gilroy-bold;
}

.col-form-label{
    color: white;
}

.judul-tax p{
    display: inline;
    font-size: 24px;
}

.navbar-brand{
    font-family: gilroy-bold;
}

label{
    font-family: gilroy-bold;
    color: white;
}
input{
    width: 100%;
}
/* 
#tabel{
    background-color: white;
    border : solid 2px white;
} */

