<html>
        {% load crispy_forms_tags %}
    <head>
        <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% load staticfiles %}

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/home_liability.css' %}" />


    <title>Tax Counter</title>
    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-dark" style = "background-color: black;">
            <a class="navbar-brand" href="/">Ooangku.</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/income/">My Records <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/liability/">Liability</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/taxCounter/">Tax Counter</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/budgeting/">Budgeting</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/account/logout">KELUAR</a>
                    </li>
                    <li class="nav-item">
                        <div class="theme-switch-wrapper">
                            <label class="theme-switch" for="checkbox">
                                <input type="checkbox" id="checkbox" />
                                <div class="slider round"></div>
                          </label>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="row" style = "background-color: black;" id="fontbawah">
                <div class="col-md-5" style = "height: 100%;">
                    <img src = "{% static 'foto1.jpg' %}" class = "foto_tax" align = "right">
                </div>
                <div class="col-md-7 judul-tax">
                    <h1>Liability <br>
                    <p class = "kuning">Take notes  </p><p class = "putih">of who you owe to.</p>
                </div>
            </div>
            <div class="row masukan">
                <div class="col-md-2">
                </div>

                <div class="row col-md-8 submission">
                    <table style = "display :block;overflow-x : auto" >
                        <thead>
                            <tr>
                                <th >Nama</th>
                                <th >Duedate</th>
                                <th>Value</th>
                            
                            </tr>
                        </thead>
                        <tbody id = "tabel">
                        {% for ob in obj %}
                        <tr>
                            <td>
                                {{ ob.nama }}
                            </td>
                            <td>
                                {{ ob.duedate }}
                            </td>
                            <td>
                                IDR {{ ob.value }}
                            </td>
                            <td>
                                <a href = "paid/{{ ob.id }}"><button class = "btn btn-warning text-white">Paid</button></a>
                            </td>
                            <td>
                                <a href = "modify/{{ ob.id }}"><button class = "btn btn-dark">Modify</button></a>
                            </td>
                        </tr>
                        {% endfor %}  
                        </tbody>
                    </table>           
                    </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <div class="container bt-add">
                        <button type="button" class="btn btn-sm btn-outline btn-warning text-white font-light" data-toggle="modal" data-target="#add-budget">Add Budget</button>
                    </div>
                </div>
                <div class="col-md-6" class="kotak">
                    <div class="modal fade" id="add-budget">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h3 class="modal-title">Add your liability here!</h3>
                                    <button type="button" class="close" data-dismiss="modal">
                                        <span style="font-size:45px;">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">                        
                                    <form method="POST" id="post-form">
                                    {% csrf_token %}
                                    <table style="font-size: 20px;">
                                        {{ form|crispy }}
                                    </table>
                                    <button type="submit" class="btn btn-warning">Submit</button>
                                    <!-- <button type="submit" class="btn btn-sm btn-outline btn-warning text-white font-light" style="margin-top:15px;margin-bottom:5px;margin-left:289px;">Submit</button> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
            </div> 
                </div>
            </div>
            <div>
                <div class="row">
                <div class="col-md-3">

                </div>
                <div class="col-md-6">
                    <p id="tulisantotal">Total:</p>
                    <br>
                    <div class="kotakkuning" id = "total-liability">
                        <p>IDR {{utang}}</p>
                    </div>
                </div>
                <div class="col-md-3">

                </div>
                </div>

            </div>

    
    <script src="https://code.jquery.com/jquery-1.11.3.js"></script>
    <script src="{% static 'liabilities.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    </body>
</html>
                   
        
             
        <!-- {% if user.is_authenticated %}
            <p>Hi, {{user.username}}</p>
            <a href = "/account/logout">Logout</a>
        {% else %}
            <p>Please Login</p>
            <a href = "/account/login">Login Here</a>
        {% endif %} -->
        <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->