<h2>Register</h2>
<form method="post">{% csrf_token %}
	{% for field in registration_form %}
		<p>
			{{field.label_tag}}
			{{field}}

			{% if field.help_text %}
				<small style="color: grey;">{{field.help_text}}</small>
			{% endif %}

			{% for error in field.errors %}
				<p style="color: red;">{{error}}</p>
			{% endfor %}
		</p>
	{% endfor %}
	<button type="submit">Register</button>
	
</form>